@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --gray-300: #2d3748;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-700: #2d3748;

  --color-primary: #2d3748;
  --color-primary-dark: rgba(255, 255, 255, 0.92);
  --color-primary-light: #2d3748;

  --color-secondary: #718096;
  --color-secondary-dark: rgba(255, 255, 255, 0.92);
  --color-secondary-light: #718096;

  --color-accent: #38b2ac;

  --stroke-color: var(--gray-400);
  /* 

  --color-background: #ffffff;
  --color-background-dark: #f6f6f6;
  --color-background-light: #e9e9e9;
  --color-text: #000000;
  --color-text-dark: #000000;
  --color-text-light: #000000;
  --color-link: #00bcd4;
  --color-link-dark: #00acc1;
  --color-link-light: #0097a7;
  --color-link-hover: #00bcd4;
  --color-link-hover-dark: #00acc1;
  --color-link-hover-light: #0097a7;
  --color-link-active: #00bcd4;
  --color-link-active-dark: #00acc1; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.divider-with-centered-value {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: var(--color-secondary-light);
}
.divider-with-centered-value::before {
  content: '';
  width: 45%;
  background: var(--stroke-color);

  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.divider-with-centered-value::after {
  content: '';
  width: 45%;
  background: var(--stroke-color);
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.custom-hover-button:hover,
.custom-hover-button:focus {
  filter: brightness(1.05) !important;
  -webkit-filter: brightness(1.05) !important;
}
