.main-page-container {
  display: flex;
}
.main-page-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: clamp(320px, 320px + 5vw, 500px);
}
.signup-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  gap: 20px;
}
.signup-options button {
  padding: 1.5rem 1rem;
}
/* REGISTER BY EMAIL SECTION*/
.register-form {
  width: 100%;
  padding: 2rem 0 0rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
